<!-- templates/delete_data.html -->
{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block content %}
<link href="{% static 'css/base.css' %}" rel="stylesheet">
<h2 class="delete_h2">Delete Existing Items</h2>

<form id="delete_form" method="POST">
    {% csrf_token %}
    {{ delete_form|crispy }}
    <div class="btn-group btn-group-justified" role="group">
      <div class="btn-group" role="group">
        <button class="btn btn-primary" type="submit">Delete</button>
      </div>
    </div>
</form>

{% endblock content %}